
MethYakobiSk/bin/Debug/MethYakobiSk.exe1
.vs/MethYakobiSk/v17/.suo
MethYakobiSk/bin/Debug/MethYakobiSk.exe
.vs/MethYakobiSk/v17/.suo
MethYakobiSk/bin/Debug/MethYakobiSk.pdb
MethYakobiSk/obj/Debug/MethYakobiSk.csproj.GenerateResource.cache
MethYakobiSk/obj/Debug/MethYakobiSk.exe
MethYakobiSk/obj/Debug/MethYakobiSk.pdb
